.grid-box {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    border: 1px solid #333333;
    color: #333333;
    position: relative;
}

.grid-box.first-of-row {
    content: "";
    display: table;
    clear: both;
}

.color-num-text {
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    font-size: 8px;
}

.legend-item {
}

.legend-item .legend-swatch {
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    font-size: 10px;
}